<html>
  <head>
    <title>Video Output</title>
  </head>
  <body style="background-color:#4f4f4f;">
    <h1 style="font-family:verdana;color:white; text-align: center;">Video Output</h1>
    <h2 style="font-family:verdana;color:white">Depth Camera</h2>
    <table cellpadding="10">
    	<tr>
    		<th style="font-family:verdana;color:white; text-align: center;">Color Image</th>
    		<th style="font-family:verdana;color:white; text-align: center;">Depth Image</th>
    	</tr>
    	<tr>
    		<td>
    			<a><img src="{{ url_for('video_feed_color') }}"></a>
    		</td>
    		<td>
    			<a><img src="{{ url_for('video_feed_depth') }}"></a>
    		</td>
    	</tr>
    </table>
    
    <hr />
  </body>
</html>
